<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Jack Arthur</h2>
            <h4>example@gmail.com</h4>
        </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTpiq7g0XzU9nfNFQ7T_yGpbL-wHrlG7lF4vxkNRozHGSKwdjZN&usqp=CAU" alt="Jack Arthur">

    </div>



<mat-divider></mat-divider>

<h2 matSubheader>Pages</h2>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>

<mat-divider></mat-divider>


<mat-divider></mat-divider>

<h2 matSubheader>Tools</h2>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
</a>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
</a>

</mat-nav-list>

